@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Reset and default styles */
#root {
  --Primary-Font: "Montserrat", sans-serif;
  --Primary-Font-Weight: 600;
}

h1,
h2,
h3,
body,
html,
div,
input {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--Primary-Font);
  font-weight: var(--Primary-Font-Weight);
}

body,
html {
  background: rgb(29, 29, 29);
  height: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

p {
  color: whitesmoke;
}

::-webkit-scrollbar {
  display: none;
}

/* Full App Styles */
.Full-App {
  display: flex;
  flex-direction: column;
}

/* Nav styles */
.Nav-Main {
  position: fixed;
  width: 100%;
  z-index: 1;
  color: whitesmoke;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.664);
}

.Nav-With-Background {
  background-color: rgb(43, 43, 43);
}

.Nav-Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  transition: background-color 0.5s ease-in-out;
}

.Nav-Logo {
  height: 70px;
  margin-left: 10px;
  width: auto;
}

/* Navbar styles */
.Nav-list {
  font-size: 16px;
}

.Nav-list ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 10px;
}

.Nav-list ul li {
  margin-right: 20px;
}

.Nav-Link {
  text-decoration: none;
  color: whitesmoke;
}

/* Homepage styles */
.HomePage {
  position: relative;
}

.HomePage-Main {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.HomePage-Main img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
}

/* Slides CSS */
.Carousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 2.5s ease-in-out;
}

.Slide-Visible {
  opacity: 1;
}

.Slide-Hidden {
  opacity: 0; /* Ensure hidden slides do not occupy space */
}

.What-I-Do {
  margin-top: 20px;
  margin-left: 20px;
  color: white;
}

/* Skills Card Styles */
.Skills-Card-All {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.Skills-Card-Main {
  color: whitesmoke;
  background: rgb(51, 51, 51);
  border-radius: 20px;
  height: 200px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Skills-Card-Icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 120px;
  border: 2px solid rgb(253, 162, 58);
  font-size: 60px;
  border-radius: 60px;
}
